APP_NAME="ZAPIN"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=info

# Enterprise Database Engine (PostgreSQL 17)
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=zapin_db
DB_USERNAME=zapin_user
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

# Integrasi Google Spreadsheet & Apps Script Webhook
GOOGLE_SHEET_URL="https://docs.google.com/spreadsheets/d/1LYrKBO_x7YQmFJ6hS0cbXxvith4z-7vWPBsZ-253_Qo/edit?usp=sharing"
GOOGLE_SHEET_ID="1LYrKBO_x7YQmFJ6hS0cbXxvith4z-7vWPBsZ-253_Qo"
GOOGLE_SHEET_WEBHOOK_URL=""
ZAPIN_API_KEY=your_secure_random_api_key_here
AUTH_DEFAULT_PASSWORD=1234


